.message-list-window-container {
	max-width: 100%;
	margin: auto;
}

.message-list-window {
	overflow-y: auto;
	min-height: 640px;
}

.message-list {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
}

.message {
	max-width: 230px;
	margin-bottom: 10px;
}

.new-message-input {
	width: 76rem;
}

/* Mobile devices with long screens  */
@media only screen and (max-width: 414px) {
	.message-list-window-container {
		max-width: 100%;
	}

	.message {
		font-size: .9rem;
	}
}

/* Plus Mobile devices */
@media only screen and (min-width: 414px) and (max-height: 736px) {
	.message-list-window {
		min-height: 570px;
	}
}

/* Mobile devices with short screens */
@media only screen and (max-width: 414px) and (max-height: 730px) {
	.message-list-window-container {
		max-width: 100%;
	}

	.message {
		font-size: .9rem;
	}

	.message-list-window {
		min-height: 500px;
	}
}
